
@import "./Variables";

.Main {
  &__container {
    @include centerer;

    button {
      background-color: $MainTheme;
    }
  }
  &__welcome {
    color: white;
    text-align: center;
    font-size: 96px;
  }
  &__helper  {
    color:white;
    text-align: center;
    font-size: 32px;
  }
}
