@import "./Variables";


.Phone {
  background-color: $MainTheme;
  height: 100vh;
  position: relative;
  &__container {
    position: relative;
    width: 100%;
    margin:  auto;
    text-align: center;

    &__wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      text-align: left;
      margin-left: auto;
      margin-right: auto;

      box-sizing: border-box;

      &__phone {
        vertical-align: middle;
        width: 465px;
      }
      &__inner {
      width: 330px;
      padding-left: 10px;
      max-height: 690px;
      overflow: auto;
      margin-top: 50px;
      padding-top: 70px;
      position: absolute;
      bottom: 0;


        &__question {
          * {
            max-width: 250px;
          }
       }
      }
    }
  }
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
