body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h3 {
  font-family: 'Indie Flower', cursive;
}

h2, legend {
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
